{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static from staticfiles%}


{% block content %}
<div class="container text-center">
<img class="image" src="{% static "logo.png" %}" alt="My image"/>
</div>
<div class="container text-center">
<form method="post" action="{% url 'login' %}">
        {% csrf_token %}
          <i class="fa fa-user fa-2x" style="color:white" aria-hidden="true"></i>
          <input type="text" class="textfield" name="username_or_email" >
          <i class="fa fa-lock fa-2x" style="color:white" aria-hidden="true" ></i>
          <input type="password" class="textfield" name="password">
          <button type="submit" class="btn btn-success buttonlg" >Login</button>
    </form>
        <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger buttonrs" data-toggle="collapse" data-target="#resetfield"><i class="fa fa-key fa-rotate-90" aria-hidden="true"></i> Register</button>
        </form>
</div>
    {%endblock%}