{% extends 'base.html' %}
{% load static from staticfiles%}


{% block content %}
<div class="container text-center">
<img class="logo_image" src="{% static "logo.png" %}" alt="My image"/>
</div>
<div class="container text-center">
<form method="post" action="{% url 'login' %}">
        {% csrf_token %}
          <i class="fa fa-user fa-2x" style="color:white" aria-hidden="true"></i>
          <input type="text" class="textfield" name="username_or_email" >
          <i class="fa fa-lock fa-2x" style="color:white" aria-hidden="true" ></i>
          <input type="password" class="textfield" name="password">
          <button type="submit" class="btn btn-success buttonlg" >Login</button>
    </form>
        <div class="footer">
            <button type="submit" class="btn btn-danger buttonrs" data-toggle="collapse" data-target="#resetfield"><i class="fa fa-key fa-rotate-90" aria-hidden="true"></i> Reset</button>
            <div id="resetfield" class="collapse">
            <form method="post" action="{}">
          {% csrf_token %}
              <i class="fa fa-cogs fa-2x reset-user" style="color:white" aria-hidden="true"></i>
              <input type="email" class="textfield reset-field" name="email" name="csrfmiddlewaretoken">
              <button type="submit" name="password_reset" class="btn btn-warning buttonwr"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Reset confirmation</button>
    </form>
</div>
    {%endblock%}