{% extends 'base.html' %}
{% load static from staticfiles%}
    
{% block content %}
    <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
            <input type="text" class="form-control" placeholder="Password" aria-describedby="sizing-addon2">
            <input type="text" class="form-control" placeholder="Repeat Password" aria-describedby="sizing-addon2">
    </div>
          
{% endblock content %}