{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static from staticfiles%}


{% block content %}
<div class="container" style="padding:100px 200px 200px 200px;">
<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    {{ form | as_bootstrap }}
<button type="submit" class="btn btn-success buttonreg" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Register</button>
<button type="submit" class="btn btn-danger buttonrs"><i class="fa fa-link" aria-hidden="true"></i> Full Registration Form</button>
</form>
</div>
{% endblock %}