{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static from staticfiles%}

{% block content %}
<div class="container">
        <div class="row">
          <div class="col-7">
                <img class="a4_image" src="{% static "a4sample.png" %}" alt="My image"/>
                <div class="row result1_display">
                <div id="option"></div>
        </div>
        <div class="row">
                <div id="a4_description_result"></div>
                <div id="a4_weight_result"><br/></div>
                <div id="result4"><br/></div>
                <div id="result5"><br/></div>
                <div id="result6"><br/></div>
                <div id="result7"><br/></div>
                <div id="result8">
                    </div>
                </div>
          </div>
          <div class="col-5">
              <div class="border">
                <form>
                        <!-- <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Select Special Offer
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdown<MenuButton">
                                  <a class="dropdown-item" id="title1">Save 10%</a>
                                  <a class="dropdown-item" id="title1">Save 33%</a>
                                  <a class="dropdown-item" id="title1">Half Price</a>
                                  <a class="dropdown-item" id="title1">Better Then Half Price</a>
                                  <a class="dropdown-item" id="title1">Reduced to Clear</a>
                                  <a class="dropdown-item" id="title1">Buy One get One Free</a>
                                  <a class="dropdown-item" id="title1">Buy One get Second Half Price</a>
                                </div>
                              </div><br> -->

                              
                              <select id="options">
                                <option selected>Select</option>
                                <option>Special Offer</option>
                                <option>Save 33%</option>
                                <option>Half Price</option>
                                <option>Better Then Half Price</option>
                                <option>Reduced to Clear</option>
                                <option>Buy One Get One Free</option>
                                <option>Buy One Get Second Half Price</option>
                                <option>Two For The Price of One</option>
                              </select>
                           
                           <br>
                        <p>Description</p><input type="text" id="a4_description" name="title"/><br/>
                        <p>Weight</p><input type="text" id="a4_weight" name="title"/><br/>

                        <form>

                          <input type="button" value="Insert some text" onclick="insertText('txt1', 'Hello');">
                        </form>
                        <p>Country of Origin</p><input type="text" id="title4" name="title"/><br/>
                        <p>Was</p><input type="text" id="title5" name="title"/><br/>
                        <p>Save</p><input type="text" id="title6" name="title"/><br/>
                        <p>New Price</p><input type="text" id="title7" name="title"/><br/>
                        <p>Valid from</p><input type="text" id="title8" name="title"/><p>Valid to</p><br/>
                        </form>
                    </table>
          </div>
        
        </div>

{% endblock %}