{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static from staticfiles%}

{% block content %}
<div class="container">
        <div class="row">
          <div class="col-7">
                <img class="a4_image" src="{% static "a4sample.png" %}" alt="My image"/>
                <div class="row result1_display">
                <div id="option"></div>
        </div>
        <div class="row descr">
            <div class="col-10">
                <div id="a4_description_result"></div>
                </div>
                <div class="col-2">
                <div id="a4_weight_result"><br/></div>
              </div>
        </div>
       
                  <div class="row">
                      <div class="col-6 text-center">
                        <p class="tag">Was</p>
                    <div class="strikethrough" id="result5"><br/></div>
                  </div>
                  <div class="col-6 text-center">
                    <p class="tag">Save</p>
                    <div id="result6"><br/></div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-10 text-center cc">
                          <p class="tag">Now</p>
                          <div id="result7"></div>
                          </div>
                          </div>

                          <div class="row valid_info">
                              <div class="col-4 text-center country_text">
                                <p class="inline">Valid from:</p>
                                  <div class="inline" id="result8"><p id="date"></p></div>
                                        </div>
                                        <div class="col-4 country_text">
                                            <p class="inline">Valid to:</p>
                                  <div id="result9">
                                      </div>
                                        </div>
                              <div class="col-4 country_text">
                                <p class="inline">Country of Origin:</p>
                                  <div class="inline" id="countries_result"><span>Ireland</span></div>
                                  </div>
                                  
                </div>
                </div>
          
          <div class="col-5">
              <div class="border">
                <form>

                              <select id="options">
                                <option selected>Select</option>
                                <option>Special Offer</option>
                                <option>Save 33%</option>
                                <option>Half Price</option>
                                <option>Better Then Half Price</option>
                                <option>Reduced to Clear</option>
                                <option>Buy One Get One Free</option>
                                <option>Buy One Get Second Half Price</option>
                                <option>Two For The Price of One</option>
                              </select>
                           
                           <br>
                        <p>Description</p><input type="text" id="a4_description" name="title"/><br/>
                        <p>Weight</p><input type="text" id="a4_weight" name="title"/><br/>

                        <form>

                          <input type="button" value="Insert some text" onclick="insertText('txt1', 'Hello');">
                        </form>
                        
                        <p>Was</p><input type="text" id="title5" name="title"/ value="€"><br/>
                        <form>
                        <input type="radio" name="pick" value="Bike">Each
                        <input type="radio" name="pick" value="Bike">Per Kg
                        </form>
                        <p>Save</p><input type="text" id="title6" name="title"/ value="€"><br/>
                        <form>
                        <input type="radio" name="pick" value="Bike">Each
                        <input type="radio" name="pick" value="Bike">Per Kg
                        </form>
                        <p>New Price</p><input type="text" id="title7" name="title" value="€"/><br/>
                        <form>
                        <input type="radio" name="pick" value="Bike">Each
                        <input type="radio" name="pick" value="Bike">Per Kg
                      </form>
                        <p>Valid from</p><input type="date" id="myDate" name="title"/><br/>
                        <button onclick="myFunction()">Try it</button>
                        
                        <p>Valid to</p><input type="text" id="title9" name="title"/><br/>
                        <p>Country of Origin</p><select id="countries_options">
                            <option value="Ireland" selected="Ireland">Ireland</option>
                            <option>Scotland</option>
                            <option>United Kingdom</option>
                            <option>Danmark</option>
                            <option>Germany</option>
                          </select><br/>
                        </form>
                  
          </div>
        
        </div>
        </div>
        </div>

{% endblock %}